name: Test and coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "**" ]

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          fetch-depth: 2

      - name: Get Go cache paths
        id: go-cache-paths
        run: |
          echo "go-build=$(go env GOCACHE)" >> $GITHUB_OUTPUT
          echo "go-mod=$(go env GOMODCACHE)" >> $GITHUB_OUTPUT
        shell: bash

      - name: Go Build Cache
        id: events-build
        uses: actions/cache@v4
        with:
          path: ${{ steps.go-cache-paths.outputs.go-build }}
          key: ${{ runner.os }}.go-build-${{ hashFiles('**/go.sum') }}-1.22.x
     
      - name: Go Mod Cache
        id: events-mod
        uses: actions/cache@v4
        with:
          path: ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}.go-build-${{ hashFiles('**/go.sum') }}-1.22.x

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
        with:
          go-version: '1.23'

      - name: Run coverage
        run: make calculate_coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          verbose: true
          fail_ci_if_error: true
          flags: go_tests
          name: go_tests
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
